@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #4ec6de;
  font: 1.4em 'PT Sans', sans-serif;
  nav {
    position: fixed;
    z-index: 1;
  }
  section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100vh;
      height: 100vh;
      background: #f7f8fa;
      border-radius: 50%;
      transform-origin: bottom;
      transform: translateX(-50%) scale(4);
    }
  }
}

.box {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: .5s;
  &:hover {
    border: 1px solid #4ec6de;
    box-shadow: 0 5px 10px #4ec6de;
    & h1 {
      color: #4ec6de;
    }
    & .actions input {
      background: #a2e3ef;
    }
  }
  h1 {
    font-size: 2em;
    margin: 0 0 40px;
    color: #ccc;
    text-align: center;
    transition: .5s;
  }
  .field {
    position: relative;
    input {
      font-size: 20px;
      padding: 10px 0;
      box-sizing: border-box;
      border: none;
      outline: none;
      margin-bottom: 30px;
      border-bottom: 2px solid #ccc;
      transition: .5s;
    }
    label {
      position: absolute;
      left: 0;
      transition: .5s;
      color: #ccc;
    }
    &:nth-of-type(1),
    &:nth-of-type(2) {
      input {
        width: 100%;
        color: #ccc;
        &:not(:placeholder-shown) + label {
          top: -12px;
          left: 0;
          font-size: 14px;
          font-weight: bold;
        }
        &:focus,
        &:valid {
          color: #000;
          border-bottom: 2px solid #4ec6de;
          & + label {
            top: -12px;
            left: 0;
            font-size: 14px;
            color: #4ec6de;
            font-weight: bold;
          }
        }
      }
      label {
        pointer-events: none;
        top: 10px;
        transition: .5s;
      }
    }
    &:nth-of-type(3) {
      display: inline-block;
      width: 51%;
      input {
        width: 78%;
        color: #ccc;
        &::placeholder {
          color: #ccc;
        }
        &:focus,
        &:valid {
          color: #000;
          border-bottom: 2px solid #4ec6de;
          & + label {
            color: #4ec6de;
          }
        }
      }
      label {
        font-weight: bold;
        top: -12px;
        font-size: 14px;
      }
    }
  }
  .select_city {
    display: inline-block;
    width: 47%;
    position: relative;
    select {
      color: #ccc;
      font-size: 20px;
      padding: 10px 0;
      box-sizing: border-box;
      border: none;
      background: #fff;
      outline: none;
      margin-bottom: 30px;
      border-bottom: 2px solid #ccc;
      transition: .5s;
      &:valid,
      &:focus {
        color: #000;
        border-bottom: 2px solid #4ec6de;
        & + label {
          color: #4ec6de;
        }
      }
      option {
        color: #000;
        &:first-child {
          display: none;
        }
      }
    }
    label {
      position: absolute;
      top: -12px;
      left: 0;
      font-weight: bold;
      font-size: 14px;
      color: #ccc;
      transition: .5s;
    }
  }
  .date_time > div {
    position: relative;
    display: inline-block;
    input {
      font-size: 19.5px;
      padding: 10px 0;
      box-sizing: border-box;
      border: none;
      outline: none;
      margin-bottom: 30px;
      border-bottom: 2px solid #ccc;
      transition: .5s;
      color: #ccc;
      &:valid,
      &:focus {
        color: #000;
        border-bottom: 2px solid #4ec6de;
        & + label {
          color: #4ec6de;
        }
      }
    }
    label {
      position: absolute;
      top: -12px;
      left: 0;
      font-weight: bold;
      font-size: 14px;
      color: #ccc;
      transition: .5s;
    }
    small {
      position: absolute;
      top: 50px;
      left: 0;
      font-size: 10px;
      opacity: .5;
    }
  }
  .actions input {
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    background: #ccc;
    color: #fff;
    transition: .5s;
    &:hover {
      color: #000;
      background: #4ec6de;
    }
  }
}
