@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font: 1.4em 'PT Sans', sans-serif;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(78, 198, 222);
  box-shadow: 0 5px 10px rgb(78, 198, 222);
  h1 {
    margin: 0 0 40px;
    color: #4ec6de;
    text-align: center;
  }
  .field {
    position: relative;
    input {
      font-size: 20px;
      padding: 10px 0;
      box-sizing: border-box;
      border: none;
      outline: none;
      margin-bottom: 30px;
      border-bottom: 2px solid #ccc;
    }
    label {
      position: absolute;
      left: 0;
      transition: .5s;
      color: #ccc;
    }
    &:nth-of-type(1),
    &:nth-of-type(2) {
      input {
        width: 100%;
        &:focus,
        &:valid {
          border-bottom: 2px solid #a2e3ef;
          & + label {
            top: -12px;
            left: 0;
            font-size: 14px;
            color: #4ec6de;
            font-weight: bold;
          }
        }
      }
      label {
        pointer-events: none;
        top: 10px;
        transition: .5s;
      }
    }
    &:nth-of-type(3) {
      display: inline-block;
      width: 51%;
      input {
        width: 78%;
        &:focus,
        &:valid {
          border-bottom: 2px solid #a2e3ef;
          & + label {
            color: #4ec6de;
          }
        }
      }
      label {
        font-weight: bold;
        top: -12px;
        font-size: 14px;
      }
    }
  }
  .select_city {
    display: inline-block;
    width: 47%;
    position: relative;
    select {
      font-size: 20px;
      padding: 10px 0;
      box-sizing: border-box;
      border: none;
      background: #fff;
      outline: none;
      margin-bottom: 30px;
      border-bottom: 2px solid #4ec6de;
    }
    label {
      position: absolute;
      top: -12px;
      left: 0;
      font-weight: bold;
      font-size: 14px;
      color: #4ec6de;
    }
  }
  .date_time > div {
    position: relative;
    display: inline-block;
    input {
      font-size: 19.5px;
      padding: 10px 0;
      box-sizing: border-box;
      border: none;
      outline: none;
      margin-bottom: 30px;
      border-bottom: 2px solid #ccc;
      transition: .5s;
      &:valid,
      &:focus {
        border-bottom: 2px solid #4ec6de;
        & + label {
          color: #4ec6de;
        }
      }
    }
    label {
      position: absolute;
      top: -12px;
      left: 0;
      font-weight: bold;
      font-size: 14px;
      color: #ccc;
      transition: .5s;
    }
    small {
      position: absolute;
      top: 50px;
      left: 0;
      font-size: 10px;
      opacity: .5;
    }
  }
  .actions input {
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    background: #a2e3ef;
    transition: .5s;
    &:hover {
      background: #4ec6de;
      transition: .5s;
    }
  }
}
